{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .error-title {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
<!--==============================
Error Page
==============================-->
<section class="vs-error-wrapper space-md-top space-bottom">
    <div class="container">
        <div class="error-content text-center">
            <h1 class="error-number">404</h1>
            {% if message %}
                <h2 class="error-title h3 fw-semibold text-uppercase text-body mb-5 pb-1">{{ message }}</h2>
            {% else %}
                <h2 class="error-title h3 fw-semibold text-uppercase text-body mb-5 pb-1">
                    The page you've requested is not available or you did something wrong.
                </h2>
            {% endif %}
            <a href="{% url 'index' %}" class="vs-btn">Return To Home</a>
            <img src="{% static 'assets/img/error.avif' %}" alt="Error Image">
        </div>
    </div>
</section>
{% endblock %}
